.forgotPasswordContainer, .signUpContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 80%;
    gap: 10px;
    justify-content: center;
}

.forgotPasswordContainer {
    margin-top: 30%;
}

.redirectWriting {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
}