.cardsContainer {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    gap: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

.card {
    width: 300px;
    scroll-snap-align: center;
}

.imageParent {
    width: 300px; // Fast bredde
    height: 300px; // Fast høyde
    background-size: cover; // Fyll containeren og klipp til
    background-position: center; // Sentrer bildet
    border-radius: 10px; // Valgfritt: gjør containeren avrundet
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25); // Valgfritt: legg til skygge
  }
  
  .flexContainer {
    --inner-padding: 0;
    --padding-start: 0;
    --padding-end: 0;
    --background: transparent;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border-radius: 25px;
  }

  .adminCard {
    height:300px;
    scroll-snap-align: center;
}
  
  .textContent {
    margin-left: 10px; /* Legg til litt avstand mellom bilde og tekst */
    flex-grow: 1; /* Lar teksten fylle gjenværende plass */
  }

//   .roundedLeft {
//     border-radius: 25px 0 0 25px;
//   }

//   .roundedRight {
//     border-radius: 0 25px 25px 0;
//   }