.header {
    font-size: 2rem;
    text-align: center;
}

.sub {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
}

.subDiv {
    margin-top: -25%;
    padding-top: 0;
}

.weatherCard {
    // background: linear-gradient(135deg, #6dd5ed, #fff);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    color: #000;
}

// #2193b0

@keyframes rotate-to {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(var(--wind-direction));
    }
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
  
  .arrow-outer {
    font-size: 4rem;
    display: inline-block;
    animation: rotate-to 2.8s ease-in-out forwards;
    transform-origin: center;
  }
  
  .arrow-inner {
    animation: pulse 3s infinite ease-in-out;
    display: inline-block;
  }