@import './variables.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    box-sizing: border-box;
    font-family: "akhand", sans-serif;
    font-style: normal;
}

// body {
//     padding-top: 5vh;
//     padding-left: 3%;
//     padding-right: 3%;
//     font-family: "akhand", sans-serif ;
//     font-weight: 400;
//     font-style: normal;
// }
´
  .qute-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .label-input-container {
    display: flex;
    flex-direction: column;
    gap:10px;
  }

  .label {
    padding-left: 10px;
  }

  .form-input {
    border-radius: 20px;
    border:none;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    font-size: 1.2rem;
    padding: 15px 20px;
  }
