$primary: #6ef25a;
$secondary: #737373;
$font-family-base: "akhand", sans-serif;

:root {
    --ion-color-primary: #6ef25a !important; 
    --ion-color-primary-rgb: 64, 224, 208 !important;
    --ion-color-primary-contrast: #000 !important;
    --ion-color-primary-contrast-rgb: 255, 255, 255 !important;
    --ion-color-primary-shade: #30C9C3 !important;
    --ion-color-primary-tint: #A7E7E5 !important;
    --ion-safe-area-top: env(safe-area-inset-top) !important;
  }
  
ion-button {
    --color: $primary;
    color: #000;
}

ion-back-button {
    --color:#000;
}

//ion-header, 
//ion-toolbar 
ion-tab-bar {
  --background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);             
  -webkit-backdrop-filter: blur(15px);   
}

ion-segment-button {
    color:#000 !important;
    --color: black !important;
    --indicator-color: black;
  }

ion-alert.custom-alert .alert-button.sc-ion-alert-ios:last-child,
ion-alert.custom-alert .alert-button-inner.sc-ion-alert-ios {
      color: #000 !important;
  }

ion-header.special-header {
    --background:none !important;
}