.custom-alert .alert-button {
    color: #000 !important;
    --button-text-color: #000 !important;
  }
  
  .custom-alert .alert-radio-icon {
    color: var(--ion-color-primary) !important;
  }

  ion-alert.custom-alert .alert-button.sc-ion-alert-ios:last-child,
  ion-alert.custom-alert .alert-button-inner.sc-ion-alert-ios {
      color: #000 !important;
  }